<%= render 'shared/navbar' %>

  <%= form_tag friends_path, class: 'flex', method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search-bar",
      placeholder: "Find a friend"
    %>
    <select name="gender" class="gender">
      <option value="gender">Gender</option>
      <option value="male">Man</option>
      <option value="female">Woman</option>
    </select>
    <select name="age" class="age">
      <option value="age">Age</option>
      <option value="10,19">10-19</option>
      <option value="20,29">20-29</option>
      <option value="30,39">30-39</option>
      <option value="40,60">40-60</option>
    </select>
    <select name="price" class="price">
      <option value="price">Price</option>
      <option value="0,999">0$-999$</option>
      <option value="1000,1999">1000$-1999$</option>
      <option value="2000,2999">2000$-2999$</option>
    </select>
    <%= submit_tag "Search", class: "search-btn" %>
  <% end %>

<div class="wrapper">
  <% @friends.each do |friend| %>
  <%= link_to friend_path(friend) do %>
    <div class="card-friend">
      <div class="card-friend-img grid-item">
      </div>
      <%= cl_image_tag friend.photo.key, class: 'card-friend-avatar'%>
      <div class="card-friend-body">
        <h3><%= friend.first_name %> <%= friend.last_name %></h3>
        <div class="card-friend-description">
          <p><i class="fas fa-map-pin"></i> <%= friend.city %></p>
          <p><i class="fas fa-birthday-cake"></i> <%= friend.age %> years old</p>
          <% if friend.gender == "male"%>
          <p><i class="fas fa-mars"></i> Man</p>
          <% else %>
          <p><i class="fas fa-venus"></i> Woman</p>
          <% end %>
          <p><i class="fas fa-euro-sign"></i> <%= friend.price %></p>
        </div>
        <div class="btn-book">
          <p>Book</p>
        </div>
      </div>
    </div>
    <% end  %>
  <% end  %>
</div>

<%= render 'shared/footer' %>

