<h1>Liste de tous les amis</h1>

<ul>
  <%@friends.each do |friend| %>
    <li>

      <%= friend.first_name  %>
      <%= friend.age  %>
      <%= friend.city  %>
      <%= friend.gender  %>
      <%= friend.price  %>

    </li>
  <% end  %>
</ul>
