<%= render 'shared/navbar' %>

<div class="wrapper">
  <% @friends.each do |friend| %>

    <div class="card-friend">
      <div class="card-friend-img grid-item">
      </div>
      <%= cl_image_tag friend.photo.key, class: 'card-friend-avatar'%>
      <div class="card-friend-body">
        <h3><%= friend.first_name %> <%= friend.last_name %></h3>
        <div class="card-friend-description">
          <p><i class="fas fa-map-pin"></i> <%= friend.city %></p>
          <p><i class="fas fa-birthday-cake"></i> <%= friend.age %> years old</p>
          <% if friend.gender == "male"%>
          <p><i class="fas fa-mars"></i> Man</p>
          <% else %>
          <p><i class="fas fa-venus"></i> Woman</p>
          <% end %>
          <p><i class="fas fa-euro-sign"></i> <%= friend.price %></p>
        </div>
        <div class="btn-book">
          <%= link_to "Book", friend_path(friend) %>
        </div>
      </div>
    </div>
  <% end  %>
</div>

<%= render 'shared/footer' %>

