<h1> Profil de <%= @friend.first_name @friend.last_name  %> </h1>

<h2> Age : <%=  friend.age %><h2>
<h2> Age : <%=  friend.city %><h2>
<h2> Age : <%=  friend.gender %><h2>
<h2> Age : <%=  friend.price %> $<h2>
