<%= render 'shared/navbar' %>

<div class="show-header">
</div>
<div class="show-friend-img">
  <%= cl_image_tag @friend.photo.key, height: 200, width: 200, crop: :fit %>
</div>
<div class="show-grid">

  <div class="show-container">

    <div class="show-friend-intro grey-box">
      <h3>Meet <%= @friend.first_name %></h3>
      <% if @friend.gender == "male"%>
      <p>He currently lives in <%= @friend.city %>.</p>
      <% else %>
      <p>She currently lives in <%= @friend.city %>.</p>
      <% end %>
    </div>

    <div class="show-friend-description grey-box">
      <h3>A bit more about <%= @friend.first_name %></h3>
      <p><%= @friend.description %></p>
    </div>

    <div class="show-friend-details grey-box">
      <h3>Details</h3>
      <div class="aligned-details">
        <p id="price"><i class="fas fa-euro-sign"></i><%= @friend.price %></p>
        <% if @friend.gender == "male"%>
          <p><i class="fas fa-mars"></i> Man</p>
          <% else %>
          <p><i class="fas fa-venus"></i> Woman</p>
          <% end %>
        <p><i class="fas fa-birthday-cake"></i> <%= @friend.age %></p>
      </div>
    </div>

  </div>

  <div class="show-book-form grey-box">
    <h3>Book <%= @friend.first_name %></h3>
    <%= render "bookings/booking_form", booking: @booking, class: 'friend-show-book-form' %>
    <div class="final-price">
      <h3>Total:</h3>
      <h3 class="total"></h3>
    </div>
  </div>

  <div class="show-friend-reviews">
    <h3>Reviews of <%= @friend.first_name %></h3>
  </div>

  </div>

<%= render 'shared/footer' %>

