
        
      <div>
        <h2>All my friends</h2>

        <% my_friends = @friends.where(user: current_user)  %>
					<% my_friends.each do |friend|  %>
						<li>
							<div class="card-product">
								<%= cl_image_tag friend.photo.key, height: 400, width: 400, crop: :fit %>
								<div class="card-product-infos">
									<h2>
										<%= friend.first_name  %>
										<%= friend.last_name  %>
									</h2>
									<p>
									  <%= friend.city %>
									  <%= friend.gender %>
										<%= friend.price %>
										<% friend_ratings = 0 %>
									  <% friend.reviews.each do |review| %>
											<% friend_ratings += review.rating %>
											<% number_reviews = friend.reviews.count  %>
											<% friend_ratings = friend_ratings / number_reviews %>
									  <% end %>
										<%= friend_ratings %>
									</p>
								</div>
							</div>
						</li>
					<% end %>
        </div>