<div class="friend-card">
  <div class="top">
    <img class="pic" src="https://images.unsplash.com/photo-1520065786657-b71a007dd8a5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
    <div class="text">
      <% name = "#{friend.first_name} #{friend.last_name}"  %>
      <h2><%= link to friend.first_name, friend_path(@friend) %></h2>
      <h2><%= link to friend.first_last, friend_path(@friend) %></h2>
      <p><%= friend.age %></p>
      <p><%= friend.city %></p>
    <div class="tags">
      <p>#juggler #actor</p>
    </div>
    </div>
  </div>
  <div class="bottom">
    <div class="rating-price">
      <h2><%= friend.price %></h2>
      <p>🟠 🟠 🟠</p>
    </div>
    <div class="btns">
      <a class= "btn-rent" href="#">RENT !</a>
    </div>
  </div>
</div>

