<div class="friend-card">
  <div class="top">
    <%= cl_image_tag friend.photo.key, height: 250, width: auto, crop: :fill %>
    <div class="text">
      <% name = "#{friend.first_name} #{friend.last_name}"  %>
      <h2><%= link to friend.first_name, friend_path(@friend) %></h2>
      <h2><%= link to friend.first_last, friend_path(@friend) %></h2>
      <p><%= friend.age %> years old</p>
      <p><%= friend.city %></p>
    <div class="tags">
      <p>#juggler #actor</p>
    </div>
    </div>
  </div>
  <div class="bottom">
    <div class="rating-price">
      <h2><%= friend.price %> $/h</h2>
      <p>🟠 🟠 🟠</p>
    </div>
    <div class="btns">
      <a class= "btn-rent" href="#">RENT !</a>
    </div>
  </div>
</div>

