<div class="booking-request-card">

  <h3><%= booking.friend.first_name %> <%= booking.friend.last_name %></h3>

  <div class="booking-request-dates">
    <p><strong>Start date:</strong> <%= booking.start_date.day %> <%= date_formatter(booking.start_date) %> <%= booking.start_date.year %></p>
    <p><strong>End date:</strong> <%= booking.end_date.day %> <%= date_formatter(booking.end_date) %> <%= booking.end_date.year %></p>
  </div>
  <% if booking.status == "pending" %>
  <div class="booking-request-btn">
    <%= link_to accepted_booking_path(booking), method: :patch do %>
      <i class="fas fa-check-circle"></i>
    <% end %>
    <%= link_to denied_booking_path(booking), method: :patch do %>
      <i class="far fa-times-circle"></i>
    <% end %>
  </div>
  <% elsif booking.status == "accepted" || booking.status == "denied"  %>
  <%= link_to canceled_booking_path(booking), method: :patch do %>
    <i class="fas fa-undo-alt"></i>
  <% end %>
  <%= link_to archived_booking_path(booking), method: :patch do %>
    <i class="fas fa-archive"></i>
  <% end %>
  <% end %>
</div>


