<div class="booking-request-card">

  <h3><%= booking.friend.first_name %> <%= booking.friend.last_name %></h3>

  <div class="booking-request-dates">
    <p><strong>Start date:</strong> <%= booking.start_date.day %> <%= date_formatter(booking.start_date) %> <%= booking.start_date.year %></p>
    <p><strong>End date:</strong> <%= booking.end_date.day %> <%= date_formatter(booking.end_date) %> <%= booking.end_date.year %></p>
  </div>

  <div class="booking-request-btn accepted">
    <p>accepted</p>
  </div>
</div>


