<% my_renter_bookings = @bookings.where(user: current_user) %>
<% my_denied_renter_bookings = my_renter_bookings.where(status: "denied") %>
<% my_denied_renter_bookings.each do |booking| %>
  <div class="renter-booking-card">
    <div class="renter-booking-card-img">
      <%= cl_image_tag booking.friend.photo.key, height: 100, width: 200, crop: :fit %>
    </div>
    <div class="renter-booking-info-buttons">
      <div class="renter-booking-info">
        <div class="renter-booking-info-header">
          <%= link_to friend_path(booking.friend) do  %>
            <h4><%= booking.friend.first_name %> <%= booking.friend.last_name %></h4>
          <% end %>
        </div>
        <div class="renter-booking-owner">
            <p>Owned </p>
            <p>by </p>
            <p><%= booking.friend.user.first_name %> <%= booking.friend.user.last_name %> </p>
        </div>
        <div class="booking-date">
          <div class="start-date">
            <i class="fas fa-hourglass-start"></i> 
            <%= booking.start_date.day %>
            <%= date_formatter(booking.start_date)  %>
            <%= booking.start_date.year %>
          </div>
          <div class="end-date">  
            <%= booking.end_date.day %>
            <%= date_formatter(booking.end_date)  %>
            <%= booking.end_date.year %>
            <i class="fas fa-hourglass-end"></i>
          </div>
        </div>
      </div>
      <div class="renter-booking-buttons">
        <div class="renters-status-deny">
          <span>denied</span>
        </div>
      </div>
      </div>
    </div>
  </div>
<% end %>