<%= render 'shared/navbar' %>



<div class="container-dashboard">
  <h2 class="dashboard-h2">My dashboard</h2>

  <h2>My bookings</h2>

      <!-- RENTER DASHBOARD -->
      <div class="container">
        <div class="row">

          <div class="col-4">
            <h3>Pending bookings</h3>
            <% @pending_bookings.each do |booking| %>
              <%= render 'shared/owner-pending-bookings-card', booking: booking %>
            <% end %>
          </div>

          <div class="col-4">
            <h3>Accepted bookings</h3>
            <% @accepted_bookings.each do |booking| %>
              <%= render 'shared/owner-pending-bookings-card', booking: booking %>
            <% end %>
          </div>

          <div class="col-4">
            <h3>Denied bookings</h3>
            <% @denied_bookings.each do |booking| %>
              <%= render 'shared/owner-pending-bookings-card', booking: booking %>
            <% end %>
          </div>

        </div>
      </div>

      <!-- OWNER DASHBOARD -->
    <h2>My booking requests</h2>
    <div class="container">
      <div class="row">

        <div class="col-4">
          <h3>Pending request</h3>
          <% @renter_bookings_pending.each do |booking| %>
            <%= render 'shared/renter-pending-bookings-card', booking: booking %>
          <% end %>
        </div>

        <div class="col-4">
          <h3>Accepted request</h3>
          <% @renter_bookings_pending.each do |booking| %>
            <%= render 'shared/renter-accepted-bookings-card', booking: booking %>
          <% end %>
        </div>

        <div class="col-4">
          <h3>Denied request</h3>
          <% @renter_bookings_pending.each do |booking| %>
            <%= render 'shared/renter-denied-bookings-card', booking: booking %>
          <% end %>
        </div>
      </div>
  </div>

</div>

<%= render 'shared/footer' %>
