<%= render 'shared/navbar' %>
<%  def date_formatter(date) %>
<% if date.month == 1 %>
<%  month = "January" %>
<%  elsif date.month == 2 %>
<%  month = "February" %>
<%   elsif date.month == 3 %>
<%  month = "March" %>
<%   elsif date.month == 4 %>
<%  month = "April" %>
<% elsif date.month == 5 %>
<%  month = "May" %>
<%   elsif date.month == 6 %>
<%    month = "June" %>
<%  elsif date.month == 7 %>
<% month = "July" %>
<%   elsif date.month == 8 %>
<% month = "August" %>
<%  elsif date.month == 9 %>
<% month = "September" %>
<%  elsif date.month == 10%>
<%  month = "October" %>
<%  elsif date.month == 11 %>
<%  month = "November"%>
<%  elsif date.month == 12%>
<% month = "December" %>
<% else %>
<% end %>
<% end %>
<div class="container">
  <div class="wrapper-bookings-friends">
    <div class="my-friends-my-friends-bookings">
			<div class="my-friends">
				<%= render 'shared/card-friend' %>
			</div>
			<div class ="my-friends-bookings">
			  <%= render 'shared/card-friend-booking' %>
			</div>
		</div>
    <div class="lists-bookings">
			<div class="list-pending">
			  <h2>Pending bookings</h2>
				<ul>
				  <%= render 'shared/booking-pending' %>
				</ul>
			</div>
      <div class="list-accepted">
			  <h2>Accepted bookings</h2>
			  <ul>
			    <%= render 'shared/booking-accepted' %>
			  </ul>
			</div>
			<div class="list-denied">
			  <h2>Denied bookings</h2>
			  <ul>
			    <%= render 'shared/booking-denied' %>
			  </ul>
			</div>
    </div>
  </div>
  <div class= "history-bookings">
		<div>
			<h2>History of bookings</h2>
			<ul>
				<%= render 'shared/history' %>
		</ul>
		</div>
  </div>
</div>
<%= render 'shared/footer' %>