<h1>List booking current_user</h1>

<h2>Test 1</h2>


<div class="container">
  <div class="personnal-information-lists">
    <div class="personnal-information">
      <%= render 'shared/card-profil' %>
    </div>
    <div class="lists-bookings">
      <%= render 'shared/booking-pending' %>
      <%= render 'shared/booking-accepted' %>
      <%= render 'shared/booking-denied' %>
    </div>
  </div>
  <div class= "history-bookings">
    <%= render 'shared/history' %>
  </div>
</div>











