<h1>List booking current_user</h1>

<h2>Test 1</h2>

<%= render 'shared/history' %>
<%= render 'shared/booking-pending' %>
<%= render 'shared/booking-accepted' %>
<%= render 'shared/booking-denied' %>
<%= render 'shared/card-profil' %>














