<%= render 'shared/navbar' %>

<%  def date_formatter(date) %>
<% if date.month == 1 %>
<%  month = "January" %>
<%  elsif date.month == 2 %>
<%  month = "February" %>
<%   elsif date.month == 3 %>
<%  month = "March" %>
<%   elsif date.month == 4 %>
<%  month = "April" %>
<% elsif date.month == 5 %>
<%  month = "May" %>
<%   elsif date.month == 6 %>
<%    month = "June" %>
<%  elsif date.month == 7 %>
<% month = "July" %>
<%   elsif date.month == 8 %>
<% month = "August" %>
<%  elsif date.month == 9 %>
<% month = "September" %>
<%  elsif date.month == 10%>
<%  month = "October" %>
<%  elsif date.month == 11 %>
<%  month = "November"%>
<%  elsif date.month == 12%>
<% month = "December" %>
<% else %>
<% end %>
<% end %>






<div class="container">
  <div class="personnal-information-lists">
    <div class="personnal-information">
      <%= render 'shared/card-profil' %>
    </div>
    <div class="lists-bookings">
			<div class="list-pending">
			  <h2>Pending bookings</h2>
				<ul>
				  <%= render 'shared/booking-pending' %>
				</ul>
			</div>
      <div class="list_accepted">
			  <h2>Accepted bookings</h2>
			  <ul>
			    <%= render 'shared/booking-accepted' %>
			  </ul>
			</div>
			<div class="list_denied">
			  <h2>Denied bookings</h2>
			  <ul>
			    <%= render 'shared/booking-denied' %>
			  </ul>
			</div>
    </div>
  </div>
  <div class= "history-bookings">
    <%= render 'shared/history' %>
  </div>
</div>


<%= render 'shared/footer' %>










